<div class="login-page" [@routerTransition] id="loginID">
  <div class = "row" style="padding-top: 80px">
        <div class="col-md-6">
            <img src="assets/images/logo.png" width="400px" height="400px" class="user-avatar"/>
        </div>
        <div class="col-md-6">
          <form role="form">
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" ng-model="name" class="form-control input-underline input-lg" id="user-email" placeholder="Username">
                  </div>

                  <div class="form-group">
                      <input type="password" class="form-control input-underline input-lg" id="user-password" placeholder="Password">
                  </div>
              </div>
              <a class="btn rounded-btn" style="color:blue; background:snow" (click)="onLoggedin()"> Log in </a>
              &nbsp;
              <a class="btn rounded-btn" style="color:blue; background:snow" [routerLink]="['/signup']">Register</a>
          </form>
        </div>
      </div>
</div>
