<div [@routerTransition]>
    <app-page-header [heading]="'Raw Trading Data'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12"  style="height:500px; overflow-y: scroll;">
            <div class="card mb-5">
                <div class="card-header">Table head options</div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Date Registered</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Deal Amount</th>
                            <th>Deal Id</th>
                            <th>Deal Quantity</th>
                            <th>Deal Type</th>
                            <th>Instrument</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="transactions">
                            <tr *ngFor="let unit of rawdata">
                              <td>{{ unit.counterparty_date_registered }}</td>
                              <td>{{ unit.counterparty_name }}</td>
                              <td>{{ unit.counterparty_status }}</td>
                              <td>{{ unit.deal_amount }}</td>
                              <td>{{ unit.deal_id }}</td>
                              <td>{{ unit.deal_quantity }}</td>
                              <td>{{ unit.deal_type }}</td>
                              <td>{{ unit.instrument_name }}</td>
                              <td>{{ unit.time }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <button class="col-lg-5" style="opacity:0"></button>
      <button class= "btn btn-primary col-lg-1" (click)="prevResults()">Previous</button>
      <div class= "btn btn-primary col-lg-1" (click)="nextResults()">Next</div>
    </div>
</div>
