<div [@routerTransition]>
  <label class="dropdown col-lg-4" style="z-index: 100">
    <div class="dd-button">
      <h2>{{ currentCounterpartyName }} </h2>
    </div>
    <input type="checkbox" class="dd-input" id="test">
    <ul class="dd-menu" style="height: 250px; overflow-y: scroll">
      <li><a href="counterparties/lina"><h4>Lina</h4></a></li>
      <li><a href="counterparties/richard"><h4>Richard</h4></a></li>
      <li><a href="counterparties/selvyn"><h4>Sylven</h4></a></li>
      <li><a href="counterparties/lewis"><h4>Lewis</h4></a></li>
      <li><a href="counterparties/Nidia"><h4>Estelle</h4></a></li>
      <li><a href="counterparties/richard"><h4>Richard</h4></a></li>
      <li class="divider"></li>
    </ul>
  </label>

  <button class="col-lg-1" style="background: transparent; opacity:0;"></button>
  <button class="col-lg-3 btn btn-primary" style="height: 40px; box-shadow: 1px 1px 1px 1px #888888;">
    <h4>Message</h4>
  </button>
  <button class="col-lg-3 btn btn-success" style="height: 40px; box-shadow: 1px 1px 1px 1px #888888;">
    <h4>Status: Active </h4>
  </button>
  <div class = "row">
    <div class="col-lg-8" style="height: 650px; padding-top:25px">
      <h4 style="width: 100%">Instrument Purchase Breakdown</h4>

      <div class="row">
        <div class="col-lg-1">
          <label class="switch">
            <input type="checkbox" (click) = "switchBuySellData()">
            <span class="slider round"></span>
          </label>
        </div>

        <div *ngIf="showingBuyData == true" class="col-lg-3"> Toggle For Sell data</div>
        <div *ngIf="showingBuyData == false" class="col-lg-3"> Toggle For Buy data</div>
      </div>

      <div class="col-sm-12">
          <div class="card mb-6">
              <div class="card-body">
                  <canvas baseChart height="180px"
                  [data]="doughnutChartData"
                  [labels]="instrumentNames"
                  [chartType]="doughnutChartType">
                  </canvas>
              </div>
          </div>
      </div>


      <p><strong>Note:</strong> Click Labels in Key to Add/Delete Instrument From Chart</p>
    </div>
    <div class="col-lg-4" style="height: 500px; padding-top:25px">
        <div *ngIf="datapresent" style="border: solid 1px #D3D3D3; border-radius: 10px; padding: 5px; height: 450px; overflow-y: scroll">
          <h2 style="width: 100%; text-align: center">Most Recent Trades</h2>
          <hr>
            <div *ngFor="let trade of tenMostRecentTrades">
              <a href= "" target="_blank">
                <div class="col-sm-12">
                  <div class="card text-white bg-primary mb-3" style="box-shadow: 1px 1px 1px 1px #888888; border: solid 0px">
                    <div *ngIf="trade.deal_type == 'B'"><div class="card-header" style="background:red"><h6> Buy </h6></div></div>
                    <div *ngIf="trade.deal_type == 'S'"><div class="card-header" style="background:green"><h6> Sell </h6></div></div>
                      <div class="card-header" style="background: black; padding-top: 5px; padding-bottom:5px"><strong><h6>Trade Time:</h6></strong> {{ trade.time }} </div>
                      <div class="card-header" style="background: black; padding-top: 5px; padding-bottom:5px"><strong>Amount: </strong> {{ trade.deal_amount }} </div>
                      <div class="card-header" style="background: black; padding-top: 5px; padding-bottom:5px"><strong>Quantity: </strong>{{ trade.deal_quantity }} </div>
                      <div class="card-header" style="background: black; padding-top: 5px; padding-bottom:5px"><strong>Counterparty: </strong>{{ trade.counterparty_name }} </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
    </div>
  </div>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-lg-3" style="margin-top: 15px; margin-bottom:-20px">
        <h5>Known Instrument Activity</h5>
      </div>
    </div>
    <hr style="border: solid 0.5px black">

    <div class="col-lg-12">
      <div class="row" style="height: 200px; overflow-y: scroll">
        <div class="col-lg-3" *ngFor="let inst of instrumentNames">
          <div class="col-lg-12" style="height: 150px; text-align: center">
            <h4 style="color:blue"> {{inst}} </h4>
            <p>Quantity Bought From: <strong>{{ buyAndSellInstrumentData[inst].B }}</strong></p>
            <p>Quantity Sold To: <strong>{{ buyAndSellInstrumentData[inst].S }}</strong></p>
          </div>
      </div>
    </div>
  </div>


    <hr style="margin-top:50px; border:solid .5px black">
    <h3>Most Relavent Counterparty Data</h3>
    <div class="row">
      <div class="col-lg-11" style="margin-left: 70px">
        <div id="dashboardabc"></div>
      </div>
    </div>
    <!-- /.row -->
</div>
