<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%" style="border-radius:5px">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <h2 style="margin-left: 20px">Recently Visited</h2>
        <hr>
        <div class="col-lg-12" style="margin-bottom: 10px">
            <a href="counterparties"><app-stat [bgClass]="'primary'" [icon]="'fa-address-book'" [count]="26" [label]="'Counterparties'" ></app-stat></a>
        </div>
        <div class="col-lg-12" style="margin-bottom: 10px">
            <a href="instruments"><app-stat [bgClass]="'warning'" [icon]="'fa-cog'" [count]="12" [label]="'Instruments'" ></app-stat></a>
        </div>
      </div>
      <div class="col-lg-4">
        <h2 style="opacity:0">HEY</h2>
        <hr style="opacity:0">
        <div class="col-lg-12" style="margin-bottom: 10px">
            <a href="raw_data"><app-stat [bgClass]="'success'" [icon]="'fa-table'" [count]="124" [label]="'Current Raw Data'" ></app-stat></a>
        </div>
        <div class="col-lg-12" style="margin-bottom: 10px">
            <a href="#"><app-stat [bgClass]="'danger'" [icon]="'fa-calendar'" [count]="13" [label]="'Recent Trades'"></app-stat></a>
        </div>
      </div>

        <div class="col-lg-4">
          <div *ngIf="newspresent" style="border: solid 1px #D3D3D3; border-radius: 10px; padding: 5px; height: 400px; overflow-y: scroll">
            <h2 style="width: 100%; text-align: center">News</h2>
            <hr>
              <div *ngFor="let article of financial_news">
                <a href= {{article.url}} target="_blank">
                  <div class="col-sm-12">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header"> {{ article.source.name }} </div>
                        <div class="card-body">
                            <h4 class="card-title"> {{ article.title }} </h4>
                            <p class="card-text" style="color:white"> {{article.description }} </p>
                        </div>
                    </div>
                  </div>
                </a>
              </div>
          </div>
        </div>
    </div>
    <hr />

    <!--
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    -->


    <hr />


    <div class="row">

      <!--
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <app-timeline></app-timeline>
            </div>
        </div>
      -->



<!--
      <div class="col-lg-4">
                <div class="card card-default mb-3">
                    <div class="card-header">
                        <i class="fa fa-bell fa-fw"></i> Notifications card
                    </div>
                    <app-notification></app-notification>
                </div>
        </div>
-->







        <!-- /.col-lg-4 -->
    </div>
</div>
