<div [@routerTransition]>
    <app-page-header [heading]="'Counterparties'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="form-group" class="col-lg-4 col-xs-4" style="margin:10px; margin-left: -12px; display:inline-block">
      <input type="text" class="form-control" id="usr" placeholder="Search Counterparty">
    </div>
    <button class="btn btn-info" style="display:inline-block"> Search </button>
    <div class="row" style="margin-top: 20px">
      <div class="col-lg-3">
        <h5>Recent Counterparties</h5>
        <hr>
      </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a [routerLink]="['john']"><app-stat [bgClass]="'primary'" [icon]="'fa-address-card'" [count]="26" [label]="'John'" ></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a [routerLink]="['selvyn']"><app-stat [bgClass]="'warning'" [icon]="'fa-address-card'" [count]="12" [label]="'Sylven'" ></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a [routerLink]="['lina']"><app-stat [bgClass]="'success'" [icon]="'fa-address-card'" [count]="124" [label]="'Lina'" ></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a [routerLink]="['lewis']"><app-stat [bgClass]="'danger'" [icon]="'fa-address-card'" [count]="13" [label]="'Lewis'"></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a [routerLink]="['nidia']"><app-stat [bgClass]="'info'" [icon]="'fa-address-card'" [count]="13" [label]="'Nidia'"></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a [routerLink]="['richard']"><app-stat [bgClass]="'danger'" [icon]="'fa-address-card'" [count]="13" [label]="'Richard'"></app-stat></a>
        </div>
    </div>
</div>
