<div [@routerTransition]>
  <label class="dropdown col-lg-4" style="z-index: 100">
    <div class="dd-button">
      <h2>{{ currentInstrumentName }} </h2>
    </div>
    <input type="checkbox" class="dd-input" id="test">
    <ul class="dd-menu" style="height: 250px; overflow-y: scroll">
      <li><a href="instruments/astronomica"><h4>Astronomica</h4></a></li>
      <li><a href="instruments/deuteronic"><h4>Deuteronic</h4></a></li>
      <li><a href="instruments/floral"><h4>Floral</h4></a></li>
      <li><a href="instruments/celestial"><h4>Celestial</h4></a></li>
      <li><a href="instruments/galactica"><h4>Galactica</h4></a></li>
      <li><a href="instruments/heliosphere"><h4>Heliosphere</h4></a></li>
      <li class="divider"></li>
    </ul>
  </label>

  <button class="col-lg-4" style="background: transparent; opacity:0;"></button>
  <a href="https://us.etrade.com/e/t/user/login" target="_blank"><button class="col-lg-3 btn btn-info" style="height: 45px; box-shadow: 1px 1px 1px 1px #888888;">
    <h5>Manage On <img src="https://www.featuredcustomers.com/media/Company.logo/Etrade-logo.png" style="height: 30px"></h5>
  </button></a>
  <button class="col-lg-8" style="background: transparent; opacity:0;"></button>
  <a href="https://robinhood.com/login" target="_blank"><button class="col-lg-3 btn btn-info" style="height: 45px; box-shadow: 1px 1px 1px 1px #888888;">
    <h5>Manage On <img src="https://onlinebroker-compare.com/wp-content/uploads/2014/10/robinhood-logo.jpg" style="height: 35px; border-radius:5px"></h5>
  </button></a>

    <div class="row">
      <div class="col-lg-1" style="border-bottom: solid 1px grey; margin-top: 15px">
        <h5>Stats</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" style="height: 80px; text-align: center"> Current Price: <h2>{{currentInstrumentPrice}}</h2></div>
      <div class="col-lg-4" style="height: 80px; text-align: center"> Quantity Owned: <h2>{{quanity_of_shares_currently_owned}} Shares</h2></div>
      <div class="col-lg-4" style="height: 80px; text-align: center"> Total Transactions: <h2>{{totalDeals}}</h2></div>
      <div class="col-lg-4" style="height: 80px; text-align: center"> Volatility: <h2>{{instrumentVolatility}}</h2></div>
      <div class="col-lg-4" style="height: 80px; text-align: center"> Average Buy Price: <h2>{{averageBuyPrice}} </h2></div>
      <div class="col-lg-4" style="height: 80px; text-align: center"> Average Sell Price: <h2> {{averageSellPrice}} </h2></div>
    </div>
    <div class="row">
        <div class="col-lg-8" style="height: 400px; border-top: solid 1px black; padding-top:50px">
          <div class="card-body">
              <canvas
                baseChart height="130"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
              >
              </canvas>
          </div>
        </div>
        <div class="col-lg-4" style="height: 400px; border-top: solid 1px black; padding-top:25px">
            <div *ngIf="datapresent" style="border: solid 1px #D3D3D3; border-radius: 10px; padding: 5px; height: 400px; overflow-y: scroll">
              <h2 style="width: 100%; text-align: center">Most Recent Trades</h2>
              <hr>
                <div *ngFor="let trade of tenMostRecentTrades">
                  <a href= "" target="_blank">
                    <div class="col-sm-12">
                      <div class="card text-white bg-primary mb-3" style="box-shadow: 1px 1px 1px 1px #888888; border: solid 0px">
                        <div *ngIf="trade.deal_type == 'B'"><div class="card-header" style="background:red"><h6> Buy </h6></div></div>
                        <div *ngIf="trade.deal_type == 'S'"><div class="card-header" style="background:green"><h6> Sell </h6></div></div>
                          <div class="card-header" style="background: black; padding-top: 5px; padding-bottom:5px"><strong><h6>Trade Time:</h6></strong> {{ trade.time }} </div>
                          <div class="card-header" style="background: black; padding-top: 5px; padding-bottom:5px"><strong>Amount: </strong> {{ trade.deal_amount }} </div>
                          <div class="card-header" style="background: black; padding-top: 5px; padding-bottom:5px"><strong>Quantity: </strong>{{ trade.deal_quantity }} </div>
                          <div class="card-header" style="background: black; padding-top: 5px; padding-bottom:5px"><strong>Counterparty: </strong>{{ trade.counterparty_name }} </div>
                      </div>
                    </div>
                  </a>
                </div>
            </div>

        </div>
    </div>
    <hr style="margin-top:50px; border:solid .5px black">
    <h3>Instrument Trading By Counterparty</h3>
    <div class="row">
      <div class="col-lg-11" style="margin-left: 70px">
        <div id="dashboardabc"></div>
      </div>
    </div>
    <!-- /.row -->
</div>
