<div [@routerTransition]>
    <app-page-header [heading]="'Instruments'" [icon]="'fa-edit'"></app-page-header>
    <div class="form-group" class="col-lg-4 col-xs-4" style="margin:10px; margin-left: -10px; display:inline-block">
      <input type="text" class="form-control" id="usr" placeholder="Search Instrument">
    </div>
    <button class="btn btn-info" style="display:inline-block" (click) = "findInstrument()"> Search </button>
    <div class="row" style="margin-top: 20px">
      <div class="col-lg-3">
        <h5>Recent Instruments</h5>
        <hr>
      </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a href="instruments/astronomica" class="instrument-card"><app-stat [bgClass]="'primary'" [icon]="'fa-columns'" [count]="26" [label]="'Astronomica'" ></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a href="instruments/deuteronic" class="instrument-card"><app-stat [bgClass]="'warning'" [icon]="'fa-columns'" [count]="12" [label]="'Deuteronic'" ></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a href="instruments/floral" class="instrument-card"><app-stat [bgClass]="'success'" [icon]="'fa-columns'" [count]="124" [label]="'Floral'" ></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a href="instruments/celestial" class="instrument-card"><app-stat [bgClass]="'danger'" [icon]="'fa-columns'" [count]="13" [label]="'Celestial'"></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a href="instruments/galactia" class="instrument-card"><app-stat [bgClass]="'info'" [icon]="'fa-columns'" [count]="13" [label]="'Galactia'"></app-stat></a>
        </div>
        <div class="col-xl-4 col-lg-6" style="margin-bottom: 10px">
            <a href="instruments/heliosphere" class="instrument-card"><app-stat [bgClass]="'danger'" [icon]="'fa-columns'" [count]="13" [label]="'Heliosphere'"></app-stat></a>
        </div>
    </div>

    <!-- /.row -->
</div>
